{% extends "base_asset_page.jinja" %}

{% block asset_content %}
    <audio controls>
        <source src="{{ portfolio_element.get_url_for_asset() }}"
                type="audio/{{ portfolio_element.get_extension() }}">
        Your browser does not support the audio element.
    </audio>
{% endblock asset_content %}
