{% extends "base.jinja" %}

{% block head_title %}
    {{ portfolio_element.get_file_name_without_extension() }}
{% endblock head_title %}

{% block head_base_block %}
    <base href="../">
{% endblock head_base_block %}

{% block content %}
    <div class="navigation-frame">

        <!-- Next and Previous Items Buttons -->
        <div class="portfolio-item-navigation">
            <!-- Previous Button -->
            <div class="previous">
                {% if previous_element %}
                    <a href="{{ previous_element.get_url_for_page() }}">« {{ previous_element.get_file_name_without_extension() }}</a>
                {% endif %}
            </div>

            <!-- Next Button -->
            <div class="next">
                {% if next_element %}
                    <a href="{{ next_element.get_url_for_page() }}">{{ next_element.get_file_name_without_extension() }} »</a>
                {% endif %}
            </div>
        </div>

        <!-- Centered Content -->
        <div class="asset-content">
            {% block asset_content %}
                <p>An error occcured while building the page for this asset: {{ portfolio_element.get_extension() }}</p>
                <a href="{{ portfolio_element.get_url_for_page() }}" download>Download Asset</a>
            {% endblock asset_content %}
        </div>

        <div class="portfolio-item-caption">
            <!-- Display caption markdown content -->
            {{ portfolio_element.get_caption_html() | safe }}
        </div>

    </div>
{% endblock content %}
