<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block head_title %}
        {{ config.metadata.title }}
      {% endblock head_title %}
    </title>
    <meta name="description" content={{ config.metadata.description }} />
    <meta name="keywords" content={{ config.metadata.keywords }} />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <!-- Navbar -->
    {% block navbar %}
      <nav class="navbar">
        <ul>
          {% for link in config.top_link %}
            <li>
              <a href="{{ link.target }}">{{ link.label }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endblock navbar %}
    <!-- Page Content -->
    <div class="main-content">
      {% block content %}
        <h1>Default Content</h1>
        <p>This page did not define any content block</p>
      {% endblock content %}
    </div>
    <!-- Footer -->
    {% block footer %}
      <footer class="footer">
        <div class="footer-content">
          <div class="legal-info">
            <p>{{ config.footer_copyright_notice }}</p>
            <p>
              {% for link in config.footer_link %}
                <a href="{{ link.target }}">{{ link.label }}</a>
                {% if not loop.last %}|{% endif %}
              {% endfor %}
            </p>
          </div>
          <div class="contact-info">
            <p>{{ config.footer_contact_info }}</p>
          </div>
        </div>
      </footer>
    {% endblock footer %}
  </body>
</html>
