{# If 1+ carousel_elements, carousel is displayed #}
{% if carousel_elements | length > 0 %}
    <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
    <div class="carousel">
        <div class="carousel-track">
            {% for portfolio_element in carousel_elements %}
                <div class="carousel-slide">
                    <a href="{{ url_for('serve_portfolio', path=portfolio_element.get_identifier() ) }}">
                        <img src="{{ url_for('serve_portfolio', path=portfolio_element.get_path_relative_to_portfolio() ) }}"
                             alt="{{ portfolio_element.get_file_name_without_extension() }}">
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="carousel-indicators"></div>
    </div>
{% endif %}
