{% extends "base.jinja" %}

{% block content %}
    <h1>Gallery</h1>

    <div class="gallery-grid">
        {% for portfolio_element in elements %}
            <!-- DEBUG: for each, simply list the name and path -->
            {% if portfolio_element.get_asset_type() == "image" %}
                <div class="gallery-item">
                    <p>{{ portfolio_element.get_path_relative_to_portfolio() }}</p>
                    <a href="{{ portfolio_element.get_url_for_page() }}">
                        <img src="{{ portfolio_element.get_url_for_asset() }}"
                             alt="{{ portfolio_element.get_file_name_without_extension() }}"
                             width="auto"
                             height="auto">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
