<div class="gallery-grid">
    {% for portfolio_element in portfolio_elements %}
        <a href="{{ portfolio_element.get_url_for_page() }}"
           class="gallery-item-link">
            <div class="gallery-item">
                <div class="gallery-item-image">
                    {% if portfolio_element.get_asset_type() == "image" %}
                        <img src="{{ portfolio_element.get_url_for_asset() }}"
                             alt="{{ portfolio_element.get_file_name_without_extension() }}">
                    {% elif portfolio_element.get_asset_type() == "audio" %}
                        <img src="{{ url_for('static', filename='assets/missing_thumbnail_audio.webp') }}"
                             alt="Audio file">
                    {% elif portfolio_element.get_asset_type() == "video" %}
                        <img src="{{ url_for('static', filename='assets/missing_thumbnail_video.webp') }}"
                             alt="Video file">
                    {% else %}
                        <img src="{{ url_for('static', filename='assets/missing_thumbnail_other.webp') }}"
                             alt="Video file">
                    {% endif %}
                </div>
                <div class="gallery-item-title">
                    <p>{{ portfolio_element.get_path_relative_to_portfolio() }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
