{% extends "base.jinja" %}

{% block content %}
    <h1>Gallery</h1>
    <ul>
        {% for element in elements %}
            <li>
                <a href="{{ element.get_element_page_url() }}">{{ element.get_asset_identifier() }}</a>
                {# TODO: make the asset text into a tooltip? #}
                {% if element.get_asset_text() %}<p>{{ element.get_asset_text() }}</p>{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
