{% extends "base.jinja" %}

{% block head_title %}
    {{ portfolio_element.get_file_name_without_extension() }}
{% endblock head_title %}

{% block content %}
    <div class="navigation-frame">

        <!-- Next and Previous Items Buttons -->
        <div class="portfolio-item-navigation">
            <!-- Previous Button -->
            <div class="previous">
                {% if previous_element %}
                    <a href="{{ previous_element.get_element_page_url() }}">« {{ previous_element.get_file_name_without_extension() }}</a>
                {% endif %}
            </div>

            <!-- Next Button -->
            <div class="next">
                {% if next_element %}
                    <a href="{{ next_element.get_element_page_url() }}">{{ next_element.get_file_name_without_extension() }} »</a>
                {% endif %}
            </div>
        </div>

        <!-- Centered Content -->
        <div class="asset-container">
            <!-- Display the asset -->
            {% if portfolio_element.get_asset_type() in ['image'] %}
                <img src="{{ portfolio_element.get_path_relative_to_portfolio() }}"
                     alt="Asset for {{ portfolio_element.get_file_name_without_extension() }}"
                     height="auto"
                     width="auto">
            {% else %}
                <p>Asset type currently not supported: {{ portfolio_element.get_extension() }}</p>
                <a href="{{ portfolio_element.get_element_page_url() }}" download>Download Asset</a>
            {% endif %}
        </div>

        <div class="portfolio-item-caption">
            <!-- Display caption markdown content -->
            {{ portfolio_element.get_caption_html() | safe }}
        </div>

    </div>
{% endblock content %}
